
include twitter_share_post

mixin post_summary(post, linkTitle)
	if (linkTitle !== undefined && linkTitle === true)
		h1: a(href=post.url)= post.title
	else
		h1= post.title
	div.post-metadata
		span.post-date
			i.icon.icon-time
			|posted #{post.date.toDateString()}
		span.view-comments
			a(href=post.gist_url + "#comments")
				i.icon.icon-comment
				|view #{post.comment_count} comments on github
		span.twitter_share_post
			mixin twitter_share_post(post)
