
include twitter_share_post

mixin post_summary(post, linkTitle)
	if (linkTitle !== undefined && linkTitle === true)
		h1: a(href=post.url)= post.title
	else
		h1= post.title
	div.post-flags
		span.label.label-info
			i.icon-time.icon-white
			|  posted #{post.date.toDateString()}
		&nbsp;
		a(href=post.gist_url + "#comments")
			span.label.label-info
				i.icon-comment.icon-white
				|  #{post.comment_count} comments
		&nbsp;
		a(href=post.gist_url)
			span.label.label-info
				i.icon-white.icon-eye-open
				|  view on github
		&nbsp;
		span.twitter_share_button
			mixin twitter_share_post(post)
	div.post-content(id=post.id)
