include post_summary

mixin post_full(post, usePostLinks)
	div.blog-post(data-post-id=post.id)
		mixin post_summary(post, usePostLinks)
		article.instapaper_body.post-content
			!{post.content_html}
		div.post-footer
			div.post-tags
				|Tagged with: 
				for tag in post.tags
					a.label(href='/posts/tag/' + tag)
						i.icon-white.icon-tags
						|#{tag}
			a.muted(href=post.gist_url + '#comments')| Read comments on github
			p| Last updated on #{post.date.toString()}

