
include twitter_share_post

mixin post_summary(post, linkTitle)
	div.jumbotron
		h2= post.title
		p
			i.icon.icon-time
			span.text-muted
				|Posted #{post.date.toDateString()} in 
				for tag in post.tags
					a.label.icon-tag(href='/posts/tag/' + tag)=tag
		p.pull-right
			a.badge(href=post.gist_url + '#comments') #{post.comment_count} comments
			mixin twitter_share_post(post)

		if linkTitle
			p
				a.btn.btn-primary.btn-large(href=post.url, data-wtf='') Read more 
			
