include post_summary

mixin post_full(post, usePostLinks)
	div.blog-post(data-post-id=post.id)
		mixin post_summary(post, usePostLinks)
		article.instapaper_body.post-content
			!{post.content_html}
		div.post-footer
			div.post-tags
				|Tagged with: 
				for tag in post.tags
					a.label.label-default.glyphicon.glyphicon-tag(href='/posts/tag/' + tag)= tag
			a.muted(href=post.gist_url + '#comments')| Read comments on github 
				snan.badge= post.comment_count
			p| Last updated on #{post.date.toString()}

