
include twitter_share_post

mixin post_no_content(post)
	div(class='well')
		h1: a(href=post.url)= post.title
		p
		div(class='post-flags')
			span(class='label label-info')
				i(class='icon-time icon-white')
				|  posted #{post.date.toDateString()}
			&nbsp;
			a(href=post.gist_url + "#comments")
				span(class='label label-info left')
					i(class='icon-comment icon-white')
					|  #{post.comment_count} comments
			&nbsp;
			a(href=post.gist_url)
				span(class='label label-info left')
					i(class='icon-white icon-eye-open')
					|  view on github
			&nbsp;
			span
				mixin twitter_share_post(post)